<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Customer Manager</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
<div id="main-content" class="container">
    <div class="row">
        <p class="col-md-12">
        <form method="post" th:action="@{/add}" th:object="${entry}">
            <div class="row">
                    <input name="type" th:value="${type}" type="hidden">
                <div class="col">
                    <input name="keyValue" placeholder="Key" th:field="*{keyValue}" type="text"/>
                    <p th:class="${#fields.hasErrors('valid')}? error" th:if="${#fields.hasErrors('valid')}"
                       th:text="${#fields.errors('valid').get(0)}">key error</p>
                </div>
                <div class="col">
                    <input name="value" placeholder="Value" type="text"/>
                </div>
                <input class="btn btn-light edit" type="submit" value="add"/>
            </div>
        </form>
    </div>
</div>
</div>
</body>
</html>